#vit{
	color: white ;
}
.ruta{
	border: grey 2px solid;
	background-color: lightgrey;
	width: 20px;
	height:30px;
	text-align: center;
}
.mitten{
	text-align: center;
}
.storlek{
	width: 100%;
}

.lagom{
	vertical-align: centre;
	width: 80%;
}

.bakgrund{
	background-color: lightgrey;
	border: grey 2px solid;	
	padding: 20px;
	width: 70%;
}

.footer{
	background-color: #336699;
	color: white;
}

.bilder{

}

.karrusell{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: grey 2px solid;
	background-color: lightgrey;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}